@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

@model RestaurantsOfProvo.Models.ApplicationResponse
<!--Confirmation page for entering a restaurant-->

<div class="text-center">

    <h2>Thank you for entering a restaurant!</h2>

    <!--Prompts user to go see the list of recommended restaurants-->
    Click <a asp-action="enteredRestaurants">here</a> to see the list of all entered restaurants.
</div>